.metadata
hello-project/
progfun-funsets/.cache
progfun-funsets/.classpath
progfun-funsets/.project
progfun-funsets/.settings/
progfun-funsets/build.sbt
progfun-funsets/lib_managed/
progfun-funsets/project/
progfun-funsets/src/main/scala/common/
progfun-funsets/target/
progfun-recfun/.cache
progfun-recfun/.classpath
progfun-recfun/.idea/
progfun-recfun/.project
progfun-recfun/.settings/
progfun-recfun/build.sbt
progfun-recfun/lib_managed/
progfun-recfun/out/
progfun-recfun/project/
progfun-recfun/src/main/Main.iml
progfun-recfun/src/main/scala/common/
progfun-recfun/src/main/scala/recfun/.idea/
progfun-recfun/src/main/scala/recfun/Recfun.iml
progfun-recfun/src/test/Test.iml
progfun-recfun/target/
